{% extends "dashboard.html" %}

{% block content %}
    <div class="flex items-start justify-center">
        <div class="w-full space-y-4">
            <div class="header">
                <h1>Delete document</h1>
            </div>

          <div class="my-6 mx-auto">
              <form class="max-w-3xl space-y-6" method="POST">
                  {% csrf_token %}
                  <div>
                      Are you sure to delete <strong>"{{ document.name }}"</strong> permanently?
                  </div>
                  <div>
                      <input
                          type="submit"
                          value="Delete"
                          class="btn-danger">

                        <a href="{% url 'document:index' %}" class="btn-light">
                            Cancel
                        </a>
                  </div>
              </form>
          </div>
        </div>
    </div>
{% endblock %}
