{% extends "dashboard.html" %}
{% load add_class heroicons %}

{% block content %}
    <div class="flex items-start justify-center">
        <div class="w-full space-y-4">
          <div class="header">
            <h1>{% if form.instance.id %}Update{% else %}Create{% endif %} document</h1>
          </div>

          <div class="my-6 mx-auto">
              <form class="max-w-3xl space-y-6" enctype="multipart/form-data" method="POST">
                  {% csrf_token %}
                  <div class="space-y-6">
                    <div>
                        <p class="font-medium">
                            Name:
                        </p>
                        {{ form.name|add_class:"form-control form-block" }}
                    </div>
                    {% if form.instance.headers %}
                    <div>
                        <p class="font-medium">
                            Headers:
                        </p>
                        <ul>
                            {% for header in form.instance.headers %}
                            <li class="list-decimal list-inside">{{ header }}</li>
                            {% endfor %}
                        </p>
                    </div>
                    {% endif %}
                    <div>
                        <p class="font-medium">
                            Upload file (.csv, .xls, .xlsx):
                        </p>
                        {% if form.instance.file %}
                        <p class="text-sm mb-2">
                            Current file:
                            <a class="text-link-inline"
                                href="{{ form.instance.file.url }}">{{ form.instance.file }}</a>
                        </p>
                        {% endif %}

                        {{ form.file|add_class:"form-control form-block" }}
                    </div>
                  </div>
                  <div class="flex items-center justify-between">
                      <span>
                          <input
                              type="submit"
                              value="{% if form.instance.id %}Update{% else %}Create{% endif %}"
                              class="btn-primary">
                          <a href="{% url 'document:index' %}" class="btn-light">
                              Cancel
                          </a>
                      </span>

                      {% if form.instance.id %}
                      <span>
                        <a href="{% url 'document:editor' form.instance.id %}"
                            title="Edit PDF layout"
                            class="btn-light">
                            {% heroicon_outline 'pencil-alt' class="w-5 h-5" %}
                        </a>
                        {% if form.instance.layout %}
                        <a href="{% url 'document:download' form.instance.id %}"
                            title="Download PDF"
                            class="btn-outline">
                            {% heroicon_outline 'document-download' class="w-5 h-5" %}
                        </a>
                        {% endif %}
                      </span>
                      {% endif %}
                  </div>
              </form>
          </div>
        </div>
    </div>
{% endblock %}
