{% extends "dashboard.html" %}
{% load add_class %}

{% block content %}
    <div class="flex items-start justify-center">
        <div class="w-full space-y-4">
          <div class="flex items-center justify-between h-10">
              <h1 class="opacity-50">User management > Account</h1>
          </div>

          <div class="my-6 mx-auto">
              <form class="max-w-md space-y-6" enctype="multipart/form-data" method="POST">
                  {% csrf_token %}
                  <div class="space-y-6">
                    <div>
                        Account name:
                        {{ form.name|add_class:"form-control form-block" }}
                    </div>

                    <div>
                        Plan:
                        <p class="font-medium">
                            {{ form.instance.get_plan_display }}
                        </p>
                    </div>

                    <div>
                        Plan end at:
                        <p class="font-medium">
                            {{ form.instance.plan_end_at }}
                        </p>
                    </div>

                    <div>
                        Page limit:
                        <p class="font-medium">
                            {{ form.instance.plan_limit }}
                        </p>
                    </div>
                  </div>
                  <div class="flex items-center justify-between">
                    <input type="submit" value="Save" class="btn-primary">
                    <a class="btn-success" href="{% url "account:upgrade" %}">
                        Upgrade
                    </a>
                  </div>
              </form>
          </div>
        </div>
    </div>
{% endblock %}
