{% extends "dashboard.html" %}
{% load settings %}

{% block content %}
    <div class="flex items-start justify-center">
        <div class="w-full space-y-4">
          <div class="header">
              <h1>Account upgrade</h1>
          </div>

          <div class="space-y-4">
              <p>
              Please send us an email to <a class="text-link-inline" href="mailto:{% settings_value 'APP_EMAIL' %}?subject=Upgrade PDF mail merger account">{% settings_value 'APP_EMAIL' %}</a> with your requirement details and we will upgrade the account for you.
              </p>
          </div>
        </div>
    </div>
{% endblock %}
