{% extends "dashboard.html" %}
{% load add_class heroicons %}

{% block content %}
    <div class="flex items-start justify-center">
        <div class="w-full space-y-4">
          <h1 class="opacity-50">User management > Edit user</h1>

          {{ form.non_field_errors }}

          <div class="my-6 mx-auto">
              <form class="max-w-md space-y-6" method="POST">
                  {% csrf_token %}
                  <div class="space-y-3">
                    <div>
                        Username:
                        {{ form.username|add_class:"form-control form-block" }}
                        <span class="text-red-500">{{ form.username.errors }}</span>
                    </div>

                    <div>
                        Password:
                        <input
                            type="password"
                            class="form-control form-block"
                            name="password"
                        />
                    </div>

                    <div>
                        Role:
                        {{ form.role|add_class:"form-control form-block" }}
                    </div>

                    <div class="flex items-center justify-between">
                        Active:
                        {{ form.is_active|add_class:"form-checkbox w-5 h-5" }}
                    </div>

                    <div>
                        <p class="flex items-center justify-between">
                        Groups:
                            <a href="{% url 'account:group_new' %}" class="text-link text-indigo-500">
                                {% heroicon_outline 'plus' %}
                            </a>
                        </p>
                        {{ form.groups }}
                    </div>
                  </div>

                  <div>
                    <input type="submit" value="Update" class="btn-primary">
                    <a class="btn-outline" href={% url 'account:user_index' %}>
                        Cancel
                    </a>
                  </div>
              </form>
          </div>
        </div>
    </div>
{% endblock %}
