{% load heroicons %}

{% if request.user.account.plan == "trial" or request.user.account.plan_expired %}
<div class="bg-yellow-600 text-white px-4 py-1 flex items-center justify-between"
    x-data="{open: true}"
    :class="{'hidden': !open}">
    <p>
        Your {{ request.user.account.get_plan_display }} plan
        {% if request.user.account.plan_expired %}has expired{% else %}will expire{% endif %}
        at {{ request.user.account.plan_end_at }}.
        <a class="text-link inline" href="{% url 'account:account_upgrade' %}">Upgrade now.</a>
    </p>

    <a @click="open = false" class="text-link">
      {% heroicon_outline 'x' class="w-3 h-3" %}
    </a>
</div>
{% endif %}
