{% extends "base.html" %}

{% load i18n static add_class %}

{% block content %}
    <div class="flex items-center justify-center py-12">
      <div class="w-full max-w-md space-y-8">
      <h1 class="mt-6 text-xl text-center">
        Fotgot password
      </h1>
      <form class="mt-8 space-y-6" method="post">
        {% csrf_token %}
        <div class="form-row field-email">
            {{ form.email.errors }}
            <label for="id_email">{% translate 'Email address:' %}</label>
            {{ form.email | add_class:"form-control form-block" }}
        </div>
        <input type="submit" value="{% translate 'Reset my password' %}" class="w-full btn-primary">
      </form>
  </div>
  </div>
{% endblock %}
